<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"/>
<body>
<nav th:replace="layouts :: navbar"/>
<div class="container">
	<br>
	<h1>Author form</h1>
	<hr>
	<br>
	<form th:action="@{/authors/save}" th:object="${author}" method="POST">
		<input type="hidden" th:field="${author.authorId}"/>
		<div class="form-group">
			<label for="inputAuthorFirstName">First Name</label>
			<input type="text" class="form-control" id="inputAuthorFirstName" th:field="${author.firstName}" minlength="1" maxlength="100" required>
		</div>
		<div class="form-group">
		<label for="inputAuthorLastName">Last Name</label>
			<input type="text" class="form-control" id="inputAuthorLastName" th:field="${author.lastName}" maxlength="100">
		</div>
		<div class="form-group">
			<label for="inputBirthday">Birthday date</label>
			<input type="date" class="form-control" id="inputBirthday" th:field="${author.birthday}">
		</div>
		<div class="form-group">
			<label for="inputBirthday">Books</label>
			<select class="form-control" th:field="${author.books}" multiple="multiple">
				<option th:each="book : ${bookList}"
						th:value="${book.bookId}"
						th:text="${book.name}">
				</option>
			</select>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-outline-warning">Apply</button>
		</div>
	</form>
</div>

</body>
</html>