<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"/>
<body>
<nav th:replace="layouts :: navbar"/>
<div class="container">
<br>
<h1>Rules</h1>
<hr>
<br>
<dl class="row">
  <dt class="col-sm-3">Pretty strict rules:</dt>
    <dd class="col-sm-9">
    <div class="w-100">
    	<ul>
			<li>Library users must prominently display their Student ID on them at all times. Students who fail to do so will not be allowed access to the Library facilities.</li>
			<li>No items belonging to the library are to be taken out of the library unless they have been checked out at the Circulation Desk.</li>
			<li>Personal belongings should not be left unattended. The library management will not be held responsible for the loss of personal belongings.</li>
			<li>No food and drink (except plain water) are allowed in the library.</li>
			<li>Mobile phones or any other personal electronic gadgets must be switched to silent mode before entering the library.</li>
			<li>Making unreasonable noise, loud conversations, loud cell phone calls or playing loud music or video that can distract other library users in the library is not permitted.</li>
			<li>Users are prohibited from making or answering calls within the quiet zone.</li>
			<li>Discussion room is used for academic purposes only and should not be used for private study or social purposes.</li>
			<li>Eating, drinking, sleeping and smoking are not allowed in the library.</li>
			<li>The Library users should be professionally attired, as specified in the student handbook. We reserve the right to deny entry to students who are inappropriately attired.</li>
			<li>Library furniture/equipment should not be moved from its original location.</li>
			<li>Personal Computers provided are to be strictly used for academic research and Library CD viewing only. These computers cannot be used for personal e-mail, online chatting or playing games.</li>
			<li>Library staffs reserve the right to inspect bags or other personal property when users enter or leave the library.</li>
			<li>When a user is caught for breaching the library rules and regulations, immediate action will be taken.</li>
			
		</ul>
    </div>
  </dd>
</dl>
</div>
</body>
</html>