<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"/>
<body>
<nav th:replace="layouts :: navbar"/>
<div class="container">
<br>
<h1>Contact</h1>
<hr>
<br>
<dl class="row">
  <dt class="col-sm-3">Address:</dt>
  <dd class="col-sm-9"><h2>Biała Droga, 32-040 Olszowice</h2></dd>

  <dt class="col-sm-3">Telephone number:</dt>
  <dd class="col-sm-9">+48 123 456 789</dd>

  <dt class="col-sm-3">Opening hours:</dt>
    <dd class="col-sm-9">
    <div class="w-50">
		Monday		9AM–9PM<br>
		Tuesday		9AM–9PM<br>
		Wednesday	9AM–9PM<br>
		Thursday	9AM–9PM<br>
		Friday		9AM–9PM<br>
		Saturday	9AM–9PM<br>
		Sunday		Closed<br>
    </div>
  </dd>
  
  <dt class="col-sm-3">Google maps:</dt>
  <dd class="col-sm-9"><a href="https://www.google.com/maps/@49.9179956,19.9373237,3a,75y,242.05h,106.5t/data=!3m7!1e1!3m5!1sqky8dDlC-sQk6JPk_WK7Yw!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fpanoid%3Dqky8dDlC-sQk6JPk_WK7Yw%26cb_client%3Dmaps_sv.tactile.gps%26w%3D203%26h%3D100%26yaw%3D87.03579%26pitch%3D0%26thumbfov%3D100!7i13312!8i6656">bunny<a></a></dd>
  <!-- found here: https://www.reddit.com/r/Google_Maps_Oddities/comments/wyl80x/its_a_bird_its_a_plane_its_a_flying_rabbit_in/ -->
</dl>
</div>
</body>
</html>