<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"/>
<body>
<nav th:replace="layouts :: navbar"/>
<div class="container">
		<br>
		<h1>Home directory</h1>
		<hr>
		<br>
	<div class="form-outline w-75 mr-auto ml-auto">
		<input type="text" id="myInput" class="form-control border border-warning" onkeyup="search()" placeholder="Search for books...">
	</div>
	<br>
<table class="table">
	<thead>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Available</th>
		</tr>
	</thead>
	<tr th:each="book: ${bookList}" id="row">
		<td><a style="color:#000" th:href="@{/books/info/(bookId=${book.bookId})}">[[${book.getName()}]]</a></td>
		<td><a>[[${homeServie.displayAuthors(book.getAuthors())}]]</a></td>
		<td><a>[[${!book.isBorrowed()}]]</a></td>
	</tr>
</table>


</div>
<script type="text/javascript" th:src=@{js/homeSearch.js}></script>
</body>
</html>